body {
	background:url('../img/background.jpeg') repeat-x 0 0;
	color:#fff;
	font:13px "Lucida Grande", Verdana, sans-serif;
}
#users{
	overflow-x:none; 
}
.users{
	float:left;
	display:inline;

}
.select{
	cursor: pointer;
}