<div class="row-fluid">
    <div class="span2">
    	<p>
		  <a class="select" data-item="1"><img src="./img/tijeras.png" width="100" heigth="100"/></a>
		</p>
		<p>
		  <a class="select" data-item="2"><img src="./img/papel.png" width="100" heigth="100"/></a>
		</p>
		<p>
		  <a class="select" data-item="3"><img src="./img/piedra.png" width="100" heigth="100"/></a>
		</p>
      	<p>
		  <a class="select" data-item="3"><img src="./img/cobra.png" width="100" heigth="100"/></a>
		</p>
		<p>
		  <a class="select" data-item="5"><img src="./img/spock.png" width="100" heigth="100"/></a>
		</p>
		    </div>
    <div class="span10">
    	<div id="text">
      Please select one option and wait the response of the other users.
    	</div>
    </div>
  </div>

